.outer {
  display: flex;
  flex-direction: row;
  
 
  flex-wrap: wrap;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}